* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body, h1, h2, div {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	background-color: #384047;
}

.wrapper {
	background-color: white;
	padding: 1em;
	max-width: 50%;
	margin: 1.5em auto;
}


.header {
	text-align: center;
	width: 40%;
	margin: 1em auto 0 auto;
}

.title {
	width: 100%;
	color: white;
}

.prob-title {
	margin: 0.5em 0;
}

.entry, .result {
	height: 2em;
	margin: 1em 0;
	clear: both;
}

.entry:first-child {
	margin-top: 0;
}

input[type="text"] {
	float: right;
	background-color: #ECF0F1;
    border: 2px solid transparent;
  	height: 2em;
    padding: 10px 0;
    margin: 5px;
    width: 350px;
    height: 1.5em;
    font-size: 14pt;
}

.reset, .calculate {
	width: 8em;
	height: 2.5em;
}

label {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 13pt;
}

/* Buttons */

.btn {
	clear: both;
	color: white;
	font-size: 10pt;
	text-transform: uppercase;
	background-color: #1ccb80;
	border: none;
	border-bottom: 5px solid #10a54f;
	width: 100%;
	height: 100%;
	text-shadow: none;
}

	.btn:hover {
		border-bottom: 5px solid #10a54f;
		cursor: pointer;
	}

footer {
	margin: 1em auto;
	text-align: center;
	color: white;
}